* {
  box-sizing: border-box;
}

.tracking-line{
  fill:none;
  stroke:black;
  stroke-width:1;
  opacity: 0.1;
}

.tracking-line-selected{
  fill:none;
  stroke:black;
  stroke-width:2;
  opacity: 1;
}

.z-index-low{
  z-index: -1;
}


.floatTL{
  position:absolute;
     top:0px;
     left:0px;
     pointer-events: none;
 }

.header {
  border: 1px solid red;
  padding: 15px;
}

.ranking-area {
  width: 20%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.seeding-heat {
  width: 20%;
  float: left;
  padding: 15px;
  border: 1px solid lawngreen;
}

.losing-heat {
  width: 20%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.round-32 {
  width: 20%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.round-32-rankings {
  width: 20%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 2px 10px;
  border-bottom: solid 1px black;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.background-first-tier{
  background:rgba(3, 218, 197, 0.2);
}
.background-second-tier{
  background:rgba(54, 0, 179, 0.2);
}
.background-third-tier{
  background:rgba(176, 0, 32, 0.2);
}
.background-fourth-tier{
  background:rgba(99, 0, 238, 0.2);
}

.example-box-highlight {
  padding: 2px 10px;
  border: solid 3px black;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 30px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
