<div class=floatTL>
  <svg width=2000 height=2000>
    <polyline *ngFor="let surferview of lineCoordArr" [attr.points]="GetPoints(surferview)"
      [attr.class]="surferview.selected ? 'tracking-line-selected' : 'tracking-line'">
    </polyline>
  </svg>
</div>

<div class="mat-h2 header">Select competition
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="surfers">
      <mat-option>None</mat-option>
      <mat-option [value]="goldCoastSurfers">Gold Coast</mat-option>
      <mat-option [value]="bellsBeachSurfers">Bells beach</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="ranking-area mat-body-1">
  Rank the surfers by dragging up and down
  <div cdkDropList class="example-list" (cdkDropListDropped)="onDrop($event)">
    <ng-container *ngFor="let surfer of surfers; let i=index">
      <div [className]="selectedSurfer === surfer ? 'example-box-highlight' : 'example-box'"
        [style.background-color]="'rgba(0,0,0,'+surfer.tier/10+')'" cdkDrag>
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <app-surfer [surfer]="surfer" (click)="selectSurfer(surfer)"></app-surfer>
      </div>
    </ng-container>
  </div>
  <button class="mat-button" (click)="GenerateSeeding()">Generate Seeding</button>
</div>


<div class="seeding-heat mat-body-1">Seeding Heats:
  <ng-container *ngIf="seedingBracket?.heats">
    <div *ngFor="let heat of seedingBracket.heats">
      <div style="width:10">Heat: {{heat.heatnumber}}</div>
      <div cdkDropList class="example-list" (cdkDropListDropped)="onDropSeed($event)"
        [cdkDropListData]="heat.heatSurfers">
        <ng-container *ngFor="let surfer of heat.heatSurfers">
          <div class="example-box" [style.background-color]="'rgba(0,0,0,'+surfer.heatRank/10+')'" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <app-surfer [surfer]="surfer.surfer"></app-surfer>
            <div>{{surfer.heatRank}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <Button class="mat-button" (click)="RerankHeats()">Rerank heats from results</Button>
</div>

<div class="losing-heat mat-body-1">Losing Heats:
  <ng-container *ngIf="losersRound?.heats">
    <div *ngFor="let heat of losersRound.heats">
      <div>Heat: {{heat.heatnumber}}</div>
      <div cdkDropList class="example-list" (cdkDropListDropped)="onDropSeed($event)"
        [cdkDropListData]="heat.heatSurfers">
        <ng-container *ngFor="let surfer of heat.heatSurfers">
          <div class="example-box" [style.background-color]="'rgba(0,0,0,'+surfer.heatRank/10+')'" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <app-surfer [surfer]="surfer.surfer"></app-surfer>
            <div>{{surfer.heatRank}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <Button class="mat-button" (click)="RerankLosers()">Rerank after loser heats</Button>
</div>

<div class="round-32-rankings mat-body-1">
  Ranking after seeding round:
  <ng-container *ngFor="let surfer of roundOf32.orderedSurfers">
    <div class="example-box" [style.background-color]="'rgba(0,0,0,'+surfer.tier/10+')'">
      <app-surfer [surfer]="surfer"></app-surfer>
    </div>
  </ng-container>
</div>

<div class="round-32 mat-body-1">Round of 32:
  <ng-container *ngIf="roundOf32?.heats">
    <div *ngFor="let heat of roundOf32.heats">
      <div>Heat: {{heat.heatnumber}}</div>
      <div cdkDropList class="example-list" (cdkDropListDropped)="onDropSeed($event)"
        [cdkDropListData]="heat.heatSurfers">
        <ng-container *ngFor="let surfer of heat.heatSurfers">
          <div class="example-box" [style.background-color]="'rgba(0,0,0,'+surfer.heatRank/10+')'" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <app-surfer [surfer]="surfer.surfer"></app-surfer>
            <div>{{surfer.heatRank}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <Button class="mat-button" (click)="RerankHeats()">Rerank heats from results</Button>
</div>
