<div class="list-container">

  <div class="todo-container column-container">
    <div class="list"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="surfers"
    (cdkDropListDropped)="onDrop($event)" >
      <h2>Surfers to rank</h2>
      <mat-card *ngFor="let surfer of surfers" cdkDrag>
        <mat-card-header>
          <mat-card-title>Name: {{surfer.name}}</mat-card-title>
          <mat-card-subtitle>Rank: {{surfer.rank}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
